  name: Node.js Unit Test and Release

  on:
    push:
      branches: [main]
    pull_request:
      branches: [main]

  jobs:
    test:
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v2

        - name: Use Node.js 20.6.1
          uses: actions/setup-node@v4  # v4 es una versión más reciente que incluye Node.js 20.6.1
          with:
            node-version: '20.6.1'

        - name: Set up environment variables
          run: |
            echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
            echo "NPM_TOKEN=${{ secrets.NPM_TOKEN }}" >> $GITHUB_ENV
            echo "ZH_TOKEN=${{ secrets.ZH_TOKEN }}" >> $GITHUB_ENV

        - name: Install dependencies
          run: npm install

        - name: Run tests
          run: npm test

    release:
      runs-on: ubuntu-latest
      needs: test

      steps:
        - name: Checkout repository
          uses: actions/checkout@v2

        - name: Use Node.js 20.6.1
          uses: actions/setup-node@v4
          with:
            node-version: '20.6.1'

        - name: Set up environment variables
          run: |
            echo "GH_TOKEN=${{ secrets.GH_TOKEN }}" >> $GITHUB_ENV
            echo "NPM_TOKEN=${{ secrets.NPM_TOKEN }}" >> $GITHUB_ENV
            echo "ZH_TOKEN=${{ secrets.ZH_TOKEN }}" >> $GITHUB_ENV

        - name: Install dependencies
          run: npm install

        - name: Semantic Release
          run: npx semantic-release 
          
        